<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <%= @conversation.subject %>
          <small>:Subject</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i>
            Home
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- Nested media object -->
    <% @conversation.receipts_for(current_user).each do |receipt| %>
      <div class="media">
        <div class="media-left">
          <img src="img_avatar2.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= receipt.message.sender.email %>
            <small>
              <i><%= receipt.message.created_at.to_date %></i>
            </small>
          </h4>
          <p><%= receipt.message.body %></p>

        </div>
      <% end %>
    </div>

    <%= form_tag conversation_messages_path(@conversation), method: :post do %>

    <div>
    <%= text_area_tag :body %>
    </div>
    <div>
    <%= submit_tag %>
    </div>

  <% end %>

</div>
</div>
