<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
<div>
  <%= receipt.message.sender.email %>
  <%= receipt.message.body %>
</div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
<div>
  <%= text_area_tag :body %>
</div>
<div>
  <%= submit_tag %>
</div>
<% end %>
