<%= form_with(model: event, local: true) do |form| %>
<% if event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %>
      prohibited this event from being saved:</h2>

    <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :event_title, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :start_time %>
      <%= form.text_field :start_time, id: :event_start_time, :class => "form-control", :id => "datetimepicker1" %>
    </div>

    <div class="field">
      <%= form.label :end_time %>
      <%= form.text_field :end_time, id: :event_end_time, :class => "form-control", :id => "datetimepicker2" %>
    </div>

    <br />

    <div class="actions">
        <%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-left" %>
    </div>

  </div>
  <div class="col-md-6">

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :event_description, :class => "form-control", :rows => "7" %>
    </div>

    <br />

    <div class="actions">
      <%= form.submit :class => "btn btn-success pull-right" %>
    </div>

  </div>
</div>
<% end %>

<script type="text/javascript">
$(function () {
  $('#datetimepicker1').datetimepicker({
    format: "DD-MM-YYYY hh:mm"
  });
});
$(function () {
  $('#datetimepicker2').datetimepicker({
    format: "DD-MM-YYYY hh:mm"
  });
});
</script>
