<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Appiontments
          <small>Home</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i>
            Home
          </li>
        </ol>

        <p id="notice"><%= notice %></p>

      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">
                  of 200</div>
                <div>Total Patient Capacity</div>
              </div>
            </div>
          </div>
          <a href="/events/new">
            <div class="panel-footer">
              <span class="pull-left">New Appiontment</span>
              <span class="pull-right">
                <i class="fa fa-arrow-circle-right"></i>
              </span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-calendar fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
              </div>
            </div>
          </div>
          <a href="/calendar">
            <div class="panel-footer">
              <span class="pull-left">View Calendar</span>
              <span class="pull-right">
                <i class="fa fa-arrow-circle-right"></i>
              </span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-pencil-square fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Edit Appiontment</span>
              <span class="pull-right">
                <i class="fa fa-arrow-circle-right"></i>
              </span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-trash fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Delete Appiontment</span>
              <span class="pull-right">
                <i class="fa fa-arrow-circle-right"></i>
              </span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-users fa-fw"></i>
              Appiontment List</h3>
          </div>
          <div class="panel-body">
            <div id="morris-area-chart">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <% @events.each do |event| %>
                    <tr>
                      <td><%= event.title %></td>
                      <td><%= event.description %></td>
                      <td><%= event.start_time %></td>
                      <td><%= event.end_time %></td>
                      <td><%= link_to 'View', event, class: "btn btn-default" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-users fa-fw"></i>
              Appiontment List</h3>
          </div>
          <div class="panel-body">
              <div class='calendar'></div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>

</div>
