<%= form_with(model: medical, local: true) do |form| %>
  <% if medical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical.errors.count, "error") %> prohibited this medical from being saved:</h2>

      <ul>
      <% medical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">

    <div class="field">
      <%= form.label :allergies %>
      <%= form.text_area :allergies, id: :medical_allergies, :class => "form-control", :rows => "7" %>
    </div>

    <div class="field">
      <%= form.label :drug_allergies %>
      <%= form.text_area :drug, id: :drugl_allergies, :class => "form-control", :rows => "8" %>
    </div>

  </div>
  <div class="col-md-6">

    <div class="field">
      <%= form.label :smoker %>
      <%= form.select :smoker, [["", ""], ["Yes", "Yes"], ["No", "No"]], {}, {class: "form-control"} %>
    </div>

    <div class="field">
      <%= form.label :pregnant %>
      <%= form.select :pregnant, [["", ""], ["Yes", "Yes"], ["No", "No"]], {}, {class: "form-control"} %>
    </div>

    <div class="field">
      <%= form.label :diabetes %>
      <%= form.select :diabetes, [["", ""], ["Yes", "Yes"], ["No", "No"]], {}, {class: "form-control"} %>
    </div>

    <div class="field">
      <%= form.label :asthma %>
      <%= form.select :asthma, [["", ""], ["Yes", "Yes"], ["No", "No"]], {}, {class: "form-control"} %>
    </div>

    <div class="field">
      <%= form.label :blood_group %>
      <%= form.select :blood, [["", ""], ["Yes", "Yes"], ["No", "No"]], {}, {class: "form-control"} %>
    </div>

    <div class="field">
      <%= form.label :Hayfever %>
      <%= form.select :Hayfever, [["", ""], ["Yes", "Yes"], ["No", "No"]], {}, {class: "form-control"} %>
    </div>

    <br>

    <div class="actions">
      <%= form.submit :class => "btn btn-success pull-right" %>
    </div>
    <% end %>

  </div>
</div>
