<p id="notice"><%= notice %></p>

<h1>Medicals</h1>

<table>
  <thead>
    <tr>
      <th>Allergies</th>
      <th>Smoker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicals.each do |medical| %>
      <tr>
        <td><%= medical.allergies %></td>
        <td><%= medical.smoker %></td>
        <td><%= link_to 'Show', medical %></td>
        <td><%= link_to 'Edit', edit_medical_path(medical) %></td>
        <td><%= link_to 'Destroy', medical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical', new_medical_path %>
