<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <%= @patient.forename %>
          <%= @patient.surname %>
          <small>Patient No.
            <%= @patient.id %>
          </small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i>
            Home
          </li>
        </ol>
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-4">
        <a href="#" class="list-group-item text-center">
          Personal Information
        </a>
      </div>
      <div class="col-lg-4">
        <%= link_to 'Medical Records', medical_path(), class: "list-group-item active text-center" %>
      </div>
      <div class="col-lg-4">
        <a href="#" class="list-group-item text-center">Appointment History</a>
      </div>
    </div>
    <!-- /.row -->


    <br />

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-user fa-fw"></i>
              <%= @patient.forename %>
              <%= @patient.surname %></h3>
          </div>
          <div class="panel-body">

            <%= render 'form', medical: @medical %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<p id="notice"><%= notice %></p>

<p>
  <strong>Allergies:</strong>
  <%= @medical.allergies %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @medical.smoker %>
</p>

<%= @medical.id %>

<%= @medical.patient_id %>

<%= link_to 'Edit', edit_medical_path() %> |
<%= link_to 'Back', medicals_path %>
