<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :forename %>
    <%= form.text_field :forename, id: :patient_forename %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :patient_surname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :patient_age %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, id: :patient_postcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
