<p id="notice"><%= notice %></p>

<p>
  <strong>Forename:</strong>
  <%= @patient.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
