<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <%= @patient.forename %>
          <%= @patient.surname %>
          <small>Patient No.
            <%= @patient.id %>
          </small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i>
            Home
          </li>
        </ol>
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-image fa-fw"></i>
              Profile Image</h3>
          </div>
          <div class="panel-body">

            <%= image_tag @patient.image.url(:thumb), :class => "profile-image" %>

          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-user fa-fw"></i>
              <%= @patient.forename %>
              <%= @patient.surname %></h3>
          </div>
          <div class="panel-body">

            <%= render 'form', patient: @patient %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
